  .home-container {
      text-align: center;
      padding: 50px;
    }
    
    .title {
      font-size: 2.5em;
      font-weight: bold;
    }
    
    .subtitle {
      color: gray;
      margin-bottom: 20px;
    }
    
    .btn-primary {
      background-color: #CCFF00;
      padding: 15px 30px;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      font-size: 1em;
    }
    