.container {
  text-align: center;
  padding: 50px; 
}

h1 {
  font-size: 2.5em; 
  margin-bottom: 20px;
}

p {
  font-size: 1.2em; 
  color: grey;
  margin-bottom: 30px;
}

button {
  background-color: #ccff00;
  border: none;
  color: black;
  padding: 15px 32px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #b3e600;
}


@media (min-width: 768px) {
  .container {
    padding: 75px;
  }

  h1 {
    font-size: 3.5em;
    margin-bottom: 30px;
  }

  p {
    font-size: 1.5em;
    margin-bottom: 40px;
  }

  button {
    padding: 20px 40px;
    font-size: 18px;
  }
}


@media (min-width: 1200px) {
  .container {
    padding: 100px;
  }

  h1 {
    font-size: 5em;
    margin-bottom: 40px;
  }

  p {
    font-size: 2em;
    margin-bottom: 50px;
  }

  button {
    padding: 25px 50px;
    font-size: 24px;
  }
}
