.vehicle-details-container {
    padding: 5%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: left; /* Links ausgerichtet */
    margin-bottom: 1.5em;
    font-size: 2em;
    color: #333;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5em;
  }
  
  label {
    width: 45%;
    font-weight: bold;
    color: #333;
    text-align: left;
    font-size: 1.2em;
  }
  
  select, input[type="date"] {
    width: 50%;
    padding: 0.8em;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 1.2em;
    background-color: #f1f1f1;
  }
  
  input[type="radio"] {
    margin-right: 0.5em;
  }
  
  .radio-group {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  
  .radio-group input {
    margin-right: 0.2em;
  }
  
  .button-container {
    text-align: right; /* Rechts ausgerichtet */
  }
  
  .vehicle-details-btn {
    background-color: #CCFF00;
    padding: 1em 2em; /* Anpassung der Polsterung */
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.2em;
  }
  
  .vehicle-details-btn:hover {
    background-color: #b2e600;
  }
  
 